# Environnement virtuel
venv/
venv2/

# Fichiers Python inutiles
__pycache__/
*.pyc
*.pyo

# Base SQLite
*.db

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers logs ou temporaires
*.log

# Dossiers Docker
*.pid
*.sock